.logo{
    width: 40px;
    border-radius: 6px;
}
.nen-thanhcongcu{
	background-color:#f8f99a!important
}
.thanhcongcu{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .5rem 1rem;
    height: 70px;
}
.thanhchon{
    color: rgba(0,0,0,.5);
}

.main-menu{
	background-color:#f18121;
}
.item{
	margin-left: 30px;
	text-align: center;
}

.anhdau{
    margin-top: 30px;
}
.that-dai-toi{
	width: 300px;
	height: 200px;
	position: relative;
    min-height: 185px;
    overflow: hidden;
}
.bong{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.75));
}
.tentruyen{
    position: absolute;
    top: 100%;
    left: 20px;
    transform: translateY(calc(-100% - 10px));
    color: #fff;
    transition: all .4s;
    z-index: 10;
}
.avatar{
	object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.chapter {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(calc(1% + 15px),calc(100% - 10px));
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 3px 6px 2px;
    border-radius: 5px;
    z-index: 10;
}
.red {
    background-color: #ff2853;
}

.naruto{
	width: 300px;
	height: 200px;
	position: relative;
    min-height: 185px;
    overflow: hidden;
}
.dao-hai-tac{
	width: 580px;
	height: 423px;
	position: relative;
    min-height: 185px;
    overflow: hidden;
}
.black-clover{
	width: 300px;
	height: 200px;
	position: relative;
    min-height: 185px;
    overflow: hidden;
}
.one-punch-man{
	width: 300px;
	height: 200px;
	position: relative;
    min-height: 185px;
    overflow: hidden;
}
img{
	max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.truyen-cap-nhat{
	width: 190px;
	height: 280px;
	/*
    min-height: 185px;
    overflow: hidden;
    */
}
.khung-loai{
	background-color: #123345;
	height: 60px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.loai-truyen{
	color: #fff;
	margin-left: 120px;
	text-align: center;
}
.danh-sach{
	
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}
ul {
list-style: none;
}
li {
    flex: 0 0 calc((100% / 6) - 10px);
}
.story-item {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.story-item img{
	width: 170px;
    height: 240px;
}
.story-item .story-cover {
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
    width:170px;
    height:240px;
}





.container {
    max-width: 1200px!important;
    margin: 0 auto;
}
.webtruyen{
	background:red;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 0em;
	weight: 40px;
	height: 40px;
	border: 5px solid blue;
	*/
	/*display:inline-block;
	padding-top:.3125rem;
	padding-bottom:.3125rem;
	margin-right:1rem;
	font-size:1.25rem;
	line-height:inherit;
	white-space:nowrap;
	*/
}
.trang-chu{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: red;
}
.trang-chu:focus,
.trang-chu:hover{
	text-decoration:none
	}
.trang-chu:hover{color:#fff}

.admin{
	background-color: #f8f99a
}

